input_syn/input_challenge
input_real/
TEAMS/SB2/sim_image
TEAMS/SB2/output_ori/scores.csv
TEAMS/DenverFINRISKHacky/sim_image
TEAMS/DenverFINRISKHacky/output_ori/scores.csv
TEAMS/SB2/ref_v1/scores_lasso.csv
TEAMS/SB2/ref_v1/scores_enet.csv
TEAMS/SB2/ref_v1/scores_alassoL.csv
TEAMS/SB2/ref_v1/scores_alassoU.csv
TEAMS/SB2/*ER
TEAMS/SB2/*OU
TEAMS/SB2/*job
TEAMS/SB2/ref_v2/scores_lasso.csv
TEAMS/SB2/ref_v2/scores_enet.csv
TEAMS/SB2/ref_v2/scores_alassoL.csv
TEAMS/SB2/ref_v2/scores_alassoU.csv
TEAMS/SB2/ref_v2/scores_uniFDR.csv
TEAMS/SB2/ref_v2/scores_gboost.csv
TEAMS/SB2/ref_v2/scores_lasso-1se.csv
TEAMS/SB2/ref_v2/scores_lasso-BIC.csv
TEAMS/SB2/ref_v3/scores_lasso.csv
TEAMS/SB2/ref_v3/scores_enet.csv
TEAMS/SB2/ref_v3/scores_alassoL.csv
TEAMS/SB2/ref_v3/scores_alassoU.csv
TEAMS/SB2/ref_v3/scores_uniFDR.csv
TEAMS/SB2/ref_v3/scores_gboost.csv
TEAMS/SB2/ref_v3/scores_lasso-1se.csv
TEAMS/SB2/ref_v3/scores_lasso-BIC.csv
TEAMS/SB2/ref_v4/scores_lasso.csv
TEAMS/SB2/ref_v4/scores_enet.csv
TEAMS/SB2/ref_v4/scores_alassoU.csv
TEAMS/SB2/ref_v4/scores_uniFDR.csv
TEAMS/SB2/ref_v4/scores_gboost.csv
TEAMS/SB2/ref_v4/scores_lasso-1se.csv
TEAMS/SB2/ref_v4/scores_lasso-BIC.csv
results/pcoa_vegdist/betadis.rds
results/pcoa_spec_prune/*.rds
results/pcoa_spec_prune/*ER
results/pcoa_spec_prune/*OU
results/pcoa_spec_prune/*job
results/pcoa_spec_prune2/*rds
results/pcoa_spec_prune2/*.rds
results/pcoa_spec_prune2/*ER  
results/pcoa_spec_prune2/*OU 
results/pcoa_spec_prune2/*job
